div#contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#grille {
    border-collapse: separate;
    border-spacing: 20px;
    
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    perspective: 800px;
    
    display: flex;
    flex-direction: column;
}

div.ligne {
    display: flex;
    flex-direction: row;
}

div.carte {
    border: 1px solid brown;
    margin: 10px;
    width: 80px;
    height: 80px;
    text-align: center;
    background: ivory;
    box-shadow: 0px 0px 15px grey;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
    -moz-user-select: none;
    user-select: none;
}

.contenu-carte {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.retourner {
    transform: rotateY(180deg);
}

.avant, .arrière {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 60px;
    font-weight: bold;
    color: #d9b2d9;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

.avant {
    transform: rotateY(180deg);
}

.avant img {
    margin: 10px;
}

.arrière {
    background-color: BlueViolet;
}

.boutton {
    background-color: BlueViolet;
    color: white;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

.boutton:hover {
    box-shadow: 0px 0px 15px blue;
}

div#commandes {
    display: flex;
    justify-content: center;
}

