body {
    background: lightgoldenrodyellow;
}

h1 {
    color: sienna;
}

div#scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

table#liste_scores {
    background: khaki;
    border: 3px solid chocolate;
    width: 36em;
    border-collapse: collapse;
}

table#liste_scores td,th {
    border: 1px solid chocolate;
    padding: 5px;
}

table#liste_scores td {
    text-align: left;
}

table#liste_scores td.score {
    text-align: center;
}

table#liste_scores tr.en-tête {
    background: gold;
}
