<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <title>Flask pour gérer des formulaires avec la méthode GET</title>
    </head>
    <body>
        <div id="scores">
            <h1>Memory: meilleurs scores</h1>
        
            <table id="liste_scores">
            <tr class="en-tête">
                <th>Pseudo</th>
                <th>Score</th>
            </tr>
            {% for s in contenu %}
                <tr>
                    <td>{{s["pseudo"]}}</td>
                    <td class="score">{{s["score"]}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </body>
</html>
